$purple-brand: #7a00f3;
$purploe: #581dd2;
$yellow: #fd9118;
$blue: #039be5;
$red: #e9475a;
$olive: #1e4f3f;
$green: #00aa3a;
$d-blue: #0071e3;
$d-black: #000000;
$l-black: #1a1b1c;
$d-gray: #222424;
$ash: #7f8283;
$d-ash: #333636;
$white-1: #ededec;
$white-2: #f8f8f7;
$white: #ffffff;
