@media (max-width: 320px) {
  .storyboard-main .dashboard-header-main .header-flex .header-box h1.dashboard-title {
    font-size: 24px;
  }
  .storyboard-main .story-input-main .build-title {
    font-size: 14px;
    padding: 6px 14px;
  }
}
@media (min-width: 321px) and (max-width: 360px) {
  .story-input-main .build-title {
    font-size: 14px !important;
    padding: 6px 14px !important;
  }
}
@media (min-width: 361px) and (max-width: 375px) {
  .story-input-main .build-title {
    font-size: 14px !important;
    padding: 6px 14px !important;
  }
}
@media (max-width: 414px) {
  .login-main .login-parent .login-box .logo-box {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .login-main .login-parent .login-box .title-box {
    margin-bottom: 10px;
  }
  .login-main .login-parent .login-box .title-box h3 {
    font-size: 24px;
  }
  .login-main .login-parent .login-box form .form-group {
    margin-bottom: 10px;
  }
  .login-main .login-parent .login-box form .form-group .form-label {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .login-main .login-parent .login-box form .form-group .form-control {
    font-size: 14px;
  }
  .login-main .login-parent .login-box form .login-btn {
    margin-top: 10px;
    font-size: 14px;
  }
  .login-main .login-parent .login-box form .google-login-btn {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .login-main .login-parent .login-box form .google-login-btn span img {
    width: 18px;
    height: 18px;
  }
  .login-main .login-parent .login-box form .reg-divider {
    margin: 10px 0;
    line-height: 10px;
  }
  .login-main .login-parent .login-box a.forget-pass {
    margin-top: 10px;
    font-size: 14px;
  }
  .login-main .login-parent .login-box h5 {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .login-main .login-parent .login-box a.sign-link {
    font-size: 14px;
    line-height: 10px;
  }
  .dashboard-main .dashboard-header-main .header-flex .header-box h1.dashboard-title {
    font-size: 24px;
  }
  .dashboard-main .dashboard-header-main .header-flex .header-box p.dates {
    font-size: 14px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .dashboard-card-header {
    align-items: start;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .dashboard-card-header h2.dash-card-title {
    font-size: 20px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .dashboard-card-header h2.spritual-card-title {
    font-size: 32px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .dashboard-card-header .day a {
    width: 18px;
    height: 18px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .dashboard-card-header .day h4 {
    margin-top: 12px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 0;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .checked-tasks .single-task-flex .task-box .check-task-btn,
  .dashboard-main .dashboard-card-col .dashboard-card .checked-tasks .single-task-flex .task-box-2 .check-task-btn {
    font-size: 14px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .checked-tasks .single-task-input .form-control {
    font-size: 14px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .checked-tasks .add-task-btn-wrapper .add-task-btn {
    font-size: 16px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .checked-tasks .add-task-btn-wrapper .add-task-btn img {
    width: 20px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .calendar-grid-main {
    grid-template-columns: 1fr;
  }
  .fixed-nav-main .fixed-nav ul.nav li.nav-item {
    margin-right: 10px;
  }
}
@media (min-width: 376px) and (max-width: 414px) {
  .storyboard-main .dashboard-header-main .header-flex .header-box h1.dashboard-title {
    font-size: 24px;
  }
  .storyboard-main .story-input-main .build-title {
    font-size: 16px;
    padding: 8px 18px;
  }
  .storyboard-main .story-input-main form .form-control {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .login-main .login-parent .login-box {
    width: 80%;
  }
}
@media (min-width: 415px) and (max-width: 575px) {
  .login-main .login-parent .login-box .logo-box {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  .login-main .login-parent .login-box .title-box {
    margin-bottom: 15px;
  }
  .login-main .login-parent .login-box .title-box h3 {
    font-size: 24px;
  }
  .login-main .login-parent .login-box form .form-group {
    margin-bottom: 15px;
  }
  .login-main .login-parent .login-box form .form-group .form-label {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .login-main .login-parent .login-box form .form-group .form-control {
    font-size: 14px;
  }
  .login-main .login-parent .login-box form .login-btn {
    font-size: 14px;
    margin-top: 15px;
  }
  .login-main .login-parent .login-box form .google-login-btn {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .login-main .login-parent .login-box form .google-login-btn span img {
    width: 18px;
    height: 18px;
  }
  .login-main .login-parent .login-box form .reg-divider {
    margin: 15px 0;
    line-height: 10px;
  }
  .login-main .login-parent .login-box a.forget-pass {
    font-size: 14px;
  }
  .login-main .login-parent .login-box h5 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .login-main .login-parent .login-box a.sign-link {
    font-size: 14px;
    line-height: 10px;
  }
  .dashboard-main .dashboard-header-main .header-flex .header-box h1.dashboard-title {
    font-size: 26px;
  }
  .dashboard-main .dashboard-header-main .header-flex .header-box p.dates {
    font-size: 16px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .dashboard-card-header {
    align-items: start;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .dashboard-card-header h2.dash-card-title {
    font-size: 22px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .dashboard-card-header h2.spritual-card-title {
    font-size: 34px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .dashboard-card-header .day a {
    width: 18px;
    height: 18px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .dashboard-card-header .day h4 {
    margin-top: 12px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 0;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .checked-tasks .single-task-flex .task-box .check-task-btn,
  .dashboard-main .dashboard-card-col .dashboard-card .checked-tasks .single-task-flex .task-box-2 .check-task-btn {
    font-size: 16px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .checked-tasks .single-task-input .form-control {
    font-size: 16px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .checked-tasks .add-task-btn-wrapper .add-task-btn {
    font-size: 16px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .checked-tasks .add-task-btn-wrapper .add-task-btn img {
    width: 20px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .calendar-grid-main {
    grid-template-columns: 1fr 1fr;
  }
  .storyboard-main .dashboard-header-main .header-flex .header-box h1.dashboard-title {
    font-size: 26px;
  }
  .storyboard-main .story-input-main .build-title {
    font-size: 18px;
    padding: 10px 18px;
  }
  .storyboard-main .story-input-main form .form-control {
    font-size: 16px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .login-main .login-parent .login-box .logo-box {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .login-main .login-parent .login-box form .login-btn {
    font-size: 16px;
  }
  .login-main .login-parent .login-box form .google-login-btn {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .login-main .login-parent .login-box form .google-login-btn span img {
    width: 18px;
    height: 18px;
  }
  .login-main .login-parent .login-box form .reg-divider {
    line-height: 10px;
    font-size: 16px;
  }
  .dashboard-main .dashboard-card-col .dashboard-card .calendar-grid-main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .dashboard-card-col {
    margin-bottom: 24px;
  }
  .dashboard-card-col:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-main .dashboard-card-col .dashboard-card .calendar-grid-main {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) and (max-width: 1245px) {
  .dashboard-main .dashboard-card-col .dashboard-card .calendar-grid-main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=responsive.css.map */