@media (max-width: 320px) {
}
@media (max-width: 360px) {
}
@media (min-width: 321px) and (max-width: 360px) {
}
@media (max-width: 375px) {
}
@media (min-width: 361px) and (max-width: 375px) {
}
@media (max-width: 414px) {
  .login-main {
    .login-parent {
      .login-box {
        .logo-box {
          max-width: 150px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10px;
        }

        .title-box {
          margin-bottom: 10px;
          h3 {
            font-size: 24px;
          }
        }

        form {
          .form-group {
            margin-bottom: 10px;
            .form-label {
              font-size: 14px;
              margin-bottom: 10px;
            }
            .form-control {
              font-size: 14px;
            }
          }

          .login-btn {
            margin-top: 10px;
            font-size: 14px;
          }

          .google-login-btn {
            font-size: 14px;
            margin-bottom: 10px;
            span {
              img {
                width: 18px;
                height: 18px;
              }
            }
          }

          .reg-divider {
            margin: 10px 0;
            line-height: 10px;
          }
        }

        h5 {
          font-size: 14px;
          margin-bottom: 0px;
        }

        a.sign-link {
          font-size: 14px;
          line-height: 10px;
        }
      }
    }
  }
}
@media (min-width: 376px) and (max-width: 414px) {
}
@media (max-width: 575px) {
  .login-main {
    .login-parent {
      .login-box {
        width: 80%;
      }
    }
  }
}
@media (min-width: 415px) and (max-width: 575px) {
  .login-main {
    .login-parent {
      .login-box {
        .logo-box {
          max-width: 150px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 15px;
        }

        .title-box {
          margin-bottom: 15px;
          h3 {
            font-size: 24px;
          }
        }

        form {
          .form-group {
            margin-bottom: 15px;
            .form-label {
              font-size: 14px;
              margin-bottom: 15px;
            }
            .form-control {
              font-size: 14px;
            }
          }

          .login-btn {
            font-size: 14px;
          }

          .google-login-btn {
            font-size: 14px;
            margin-bottom: 10px;
            span {
              img {
                width: 18px;
                height: 18px;
              }
            }
          }

          .reg-divider {
            margin: 10px 0;
            line-height: 10px;
          }
        }

        h5 {
          font-size: 14px;
          margin-bottom: 0px;
        }

        a.sign-link {
          font-size: 14px;
          line-height: 10px;
        }
      }
    }
  }
}
@media (min-width: 576px) {
}
@media (max-width: 767px) {
}
@media (min-width: 576px) and (max-width: 767px) {
    .login-main {
        .login-parent {
          .login-box {
            .logo-box {
              max-width: 200px;
              margin-left: auto;
              margin-right: auto;
            //   margin-bottom: 15px;
            }
    
            .title-box {
            //   margin-bottom: 15px;
              h3 {
                // font-size: 24px;
              }
            }
    
            form {
              .form-group {
                // margin-bottom: 15px;
                .form-label {
                //   font-size: 14px;
                //   margin-bottom: 15px;
                }
                .form-control {
                //   font-size: 14px;
                }
              }
    
              .login-btn {
                font-size: 16px;
              }
    
              .google-login-btn {
                font-size: 16px;
                margin-bottom: 10px;
                span {
                  img {
                    width: 18px;
                    height: 18px;
                  }
                }
              }
    
              .reg-divider {
                // margin: 10px 0;
                line-height: 10px;
                font-size: 16px;
              }
            }
    
            h5 {
            //   font-size: 14px;
            //   margin-bottom: 0px;
            }
    
            a.sign-link {
            //   font-size: 14px;
            //   line-height: 10px;
            }
          }
        }
      }
}
@media (min-width: 767px) {
}
@media (max-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 820px) {
}
@media (min-width: 821px) and (max-width: 991px) {
}
@media all and (min-width: 992px) {
}
@media (min-width: 992px) and (max-width: 1245px) {
}
@media (max-width: 1132px) {
}
@media (max-width: 1024px) {
}
@media (min-width: 992px) and (max-width: 1024px) {
}
@media (max-width: 1366px) {
}
@media (min-width: 1025px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1365px) {
}
@media (min-width: 1246px) and (max-width: 1300px) {
}
@media (min-width: 1246px) and (max-width: 1365px) {
}
@media (min-width: 1025px) and (max-width: 1366px) {
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
}
@media (max-width: 1399.98px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1366px) and (max-width: 1700px) {
}
@media (min-width: 1367px) and (max-width: 1700px) {
}
@media (min-width: 1701px) and (max-width: 1800px) {
}
