body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Neue Machina";
  color: #7f8283;
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button:focus {
  box-shadow: none;
  outline: none;
}

input:focus {
  box-shadow: none;
  outline: none;
}

img {
  max-width: 100%;
}

.login-main {
  background-color: #1a1b1c;
  width: 100%;
  height: 100vh;
}
.login-main .login-parent {
  position: relative;
  height: 100vh;
}
.login-main .login-parent .login-box {
  width: 412px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.login-main .login-parent .login-box .logo-box {
  text-align: center;
  margin-bottom: 30px;
}
.login-main .login-parent .login-box .title-box {
  text-align: center;
  margin-bottom: 20px;
}
.login-main .login-parent .login-box .title-box h3 {
  font-family: "SF Pro Display";
  color: #ffffff;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 0;
}
.login-main .login-parent .login-box .form-group {
  margin-bottom: 20px;
}
.login-main .login-parent .login-box .form-label {
  font-family: "SF Pro Display";
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.login-main .login-parent .login-box .form-control {
  padding: 12px 24px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #333636;
  background-color: #1a1b1c;
  color: #ffffff;
  font-family: "SF Pro Display";
}
.login-main .login-parent .login-box .form-control:focus {
  box-shadow: none;
  outline: none;
}
.login-main .login-parent .login-box a.forget-pass {
  display: block;
  color: #7f8283;
  font-size: 16px;
  line-height: 26px;
  font-family: "SF Pro Display";
  font-weight: 400;
}
.login-main .login-parent .login-box ::placeholder {
  color: #7f8283;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "SF Pro Display";
}
.login-main .login-parent .login-box .login-btn {
  background: #7a00f3;
  color: #ffffff;
  width: 100%;
  padding: 8px 24px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-transform: capitalize;
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin-top: 20px;
}
.login-main .login-parent .login-box .reg-divider {
  margin: 20px 0;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #7f8283;
  font-family: "SF Pro Display";
  font-weight: 500;
}
.login-main .login-parent .login-box .google-login-btn {
  background: #333636;
  color: #ffffff;
  width: 100%;
  padding: 8px 24px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}
.login-main .login-parent .login-box .google-login-btn span {
  margin-right: 5px;
}
.login-main .login-parent .login-box .google-login-btn span img {
  width: 24px;
  height: 24px;
}
.login-main .login-parent .login-box .google-login-btn:focus {
  box-shadow: none;
  outline: none;
}
.login-main .login-parent .login-box h5 {
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  line-height: 26px;
}
.login-main .login-parent .login-box a.sign-link {
  color: #b266ff;
  font-family: "SF Pro Display";
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.dashboard-main {
  background-color: #1a1b1c;
  width: 100%;
  min-height: 100vh;
  padding: 28px;
}
.dashboard-main .dashboard-header-main {
  margin-bottom: 28px;
}
.dashboard-main .dashboard-header-main .header-flex {
  display: flex;
  flex-wrap: wrap;
}
.dashboard-main .dashboard-header-main .header-flex .icon-box {
  flex-basis: 40px;
  margin-right: 20px;
}
.dashboard-main .dashboard-header-main .header-flex .header-box {
  flex-basis: calc(100% - 60px);
}
.dashboard-main .dashboard-header-main .header-flex .header-box h1.dashboard-title {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 36px;
  line-height: 38px;
  color: #ffffff;
  text-transform: capitalize;
}
.dashboard-main .dashboard-header-main .header-flex .header-box p.dates {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #7f8283;
  text-transform: capitalize;
  margin-bottom: 0;
}
.dashboard-main .dashboard-card {
  padding: 24px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: #222424;
}
.dashboard-main .dashboard-card .dashboard-card-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.dashboard-main .dashboard-card .dashboard-card-header h2.dash-card-title {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 0;
}
.dashboard-main .dashboard-card .checked-tasks .single-task-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}
.dashboard-main .dashboard-card .checked-tasks .single-task-flex .check-icon {
  margin-right: 10px;
}
.dashboard-main .dashboard-card .checked-tasks .single-task-flex .check-icon .form-check-input {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.dashboard-main .dashboard-card .checked-tasks .single-task-flex .check-icon .form-check-input:focus {
  box-shadow: none;
  outline: none;
}
.dashboard-main .dashboard-card .checked-tasks .single-task-flex .check-icon .form-check-input:checked {
  background-color: #00aa3a;
  border-color: #00aa3a;
}
.dashboard-main .dashboard-card .checked-tasks .single-task-flex .task-box {
  flex-basis: calc(100% - 40px);
}
.dashboard-main .dashboard-card .checked-tasks .single-task-flex .task-box .check-task-btn {
  width: 100%;
  padding: 8px 16px;
  background: #7a00f3;
  color: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  text-align: left;
}

.layout-wrapper {
  background-color: #1a1b1c;
  width: 100%;
  height: 100vh;
}

.light-style .app-calendar-wrapper {
  background-color: #1a1b1c;
}
.light-style .app-calendar-wrapper .app-calendar-sidebar .flatpickr-calendar {
  background-color: #1a1b1c;
}
.light-style .app-calendar-wrapper .app-calendar-content .card {
  background-color: #1a1b1c;
}
.light-style .app-calendar-wrapper .app-calendar-content .card .card-body #calendar .fc-toolbar .fc-toolbar-chunk .fc-button-group .fc-button {
  color: #ffffff;
  background-color: transparent !important;
  border-radius: 30px;
}
.light-style .app-calendar-wrapper .app-calendar-content .card .card-body #calendar .fc-toolbar .fc-toolbar-chunk .fc-button-group .fc-button span {
  color: #ffffff;
}
.light-style .app-calendar-wrapper .app-calendar-content .card .card-body #calendar .fc-toolbar .fc-toolbar-chunk .fc-button-group .fc-button.fc-button-active {
  background-color: #333636 !important;
}
.light-style .app-calendar-wrapper .app-calendar-content .card .card-body #calendar .fc-toolbar .fc-toolbar-chunk h2.fc-toolbar-title {
  color: #ffffff !important;
}
.light-style .app-calendar-wrapper .app-calendar-content .card .card-body #calendar .fc-view-harness .fc-dayGridMonth-view .fc-scrollgrid {
  border: 1px solid #333636;
}
.light-style .app-calendar-wrapper .app-calendar-content .card .card-body #calendar .fc-view-harness .fc-dayGridMonth-view .fc-scrollgrid thead tr.fc-scrollgrid-section-header th .fc-scroller-harness .fc-scroller table.fc-col-header thead tr th {
  border: 1px solid #333636;
}
.light-style .fc .fc-day-today {
  background-color: #333636 !important;
}
.light-style .fc table.fc-scrollgrid td {
  border-color: #333636;
}
.light-style .fc .fc-list .fc-list-table th {
  border: 0;
  background: #222424;
}/*# sourceMappingURL=style.css.map */