@import 'partials/colors';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/common';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $nm-font;
  color: $ash;
  scroll-behavior: smooth;
  background-color: $l-black;
}

ul {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

a {
  text-decoration: none;
}

button:focus {
  box-shadow: none;
  outline: none;
}

input:focus {
  box-shadow: none;
  outline: none;
}

img {
  max-width: 100%;
}

.login-main {
  background-color: $l-black;
  width: 100%;
  height: 100vh;

  .login-parent {
    position: relative;
    height: 100vh;

    .login-box {
      width: 412px;

      @include trans-xy-center;

      .logo-box {
        text-align: center;
        margin-bottom: 30px;
      }

      .title-box {
        text-align: center;
        margin-bottom: 20px;

        h3 {
          font-family: $sf-font;
          color: $white;
          font-weight: 700;
          font-size: 28px;
          line-height: 38px;
          margin-bottom: 0;
          //   text-transform: capitalize;
        }
      }

      .form-group {
        margin-bottom: 20px;
      }

      .form-label {
        @include common-form-label;
      }

      .form-control {
        @include common-form-control;

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }

      a.forget-pass {
        // margin-top: 20px;
        display: block;
        color: $ash;
        font-size: 16px;
        line-height: 26px;
        font-family: $sf-font;
        font-weight: 400;
      }

      ::placeholder {
        color: $ash;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        font-family: $sf-font;
      }

      .login-btn {
        @include common-login-btn;
        margin-top: 20px;
      }

      .reg-divider {
        margin: 20px 0;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        color: $ash;
        font-family: $sf-font;
        font-weight: 500;
      }

      .google-login-btn {
        @include commn-google-login-btn;
        margin-bottom: 20px;

        span {
          margin-right: 5px;

          img {
            width: 24px;
            height: 24px;
          }
        }

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }

      h5 {
        font-family: $sf-font;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: $white;
        line-height: 26px;
      }

      a.sign-link {
        color: #b266ff;
        font-family: $sf-font;
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        text-align: center;
      }
    }
  }
}

// dashboard page start from here
.dashboard-main {
  background-color: $l-black;
  width: 100%;
  min-height: 100vh;
  padding: 28px;
  margin-bottom: 100px;

  .dashboard-header-main {
    margin-bottom: 28px;

    .header-flex {
      display: flex;
      flex-wrap: wrap;

      .icon-box {
        flex-basis: 40px;
        margin-right: 20px;
      }

      .header-box {
        flex-basis: calc(100% - 60px);

        h1.dashboard-title {
          font-family: $sf-font;
          font-weight: 700;
          font-size: 36px;
          line-height: 38px;
          color: $white;
          text-transform: capitalize;
        }

        p.dates {
          font-family: $sf-font;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: $ash;
          text-transform: capitalize;
          margin-bottom: 0;
        }
      }
    }
  }

  .dashboard-card-col {
    // margin-bottom: 24px;
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
    .dashboard-card {
      @include dashboard-common-card;

      .dashboard-card-header {
        @include dashboard-common-card-header;

        h2.dash-card-title {
          font-family: $sf-font;
          font-weight: 700;
          font-size: 28px;
          line-height: 38px;
          text-transform: capitalize;
          color: $white;
          margin-bottom: 0;
        }

        .spritual-card-title {
          font-family: 'Tangerine', cursive;
          font-weight: 700;
          font-size: 40px;
          line-height: 38px;
          text-transform: capitalize;
          color: $white;
          margin-bottom: 0;
        }

        .day {
          h4 {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0;
            margin-top: 5px;
            margin-left: 8px;
            margin-right: 8px;
          }
          a {
            width: 24px;
            height: 24px;
          }
        }
      }

      .calendar-grid-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        .single-day-box {
          .day-title {
            background: #292a2a;
            padding: 8px 16px;
            text-align: center;
            color: #fff;
            font-size: 14px;
            text-transform: capitalize;
            font-weight: 700;
            font-family: $sf-font;
            line-height: 16.71px;
            margin-bottom: 15px;
          }
          .single-task {
            background: #292a2a;
            padding: 8px;
            margin-bottom: 15px;
            font-size: 12px;
            font-weight: 400;
            font-family: $sf-font;
            color: $white;
            line-height: 14.32px;
          }
          .single-task:last-child {
            margin-bottom: 0;
          }
        }
        .single-day-box.active {
          .day-title {
            background: $purple-brand;
          }
          .single-task {
            background: $purple-brand;
          }
        }
      }

      .checked-tasks {
        .single-task-flex {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-bottom: 15px;

          .check-icon {
            margin-right: 10px;

            .form-check-input {
              width: 20px;
              height: 20px;
              @include make-circle;

              &:focus {
                @include common-focus-action;
              }
            }

            .form-check-input:checked {
              background-color: $green;
              border-color: $green;
            }
          }

          .task-box {
            flex-basis: calc(100% - 40px);

            .check-task-btn {
              width: 100%;
              padding: 8px 16px;
              background: $purple-brand;
              color: $white;
              border-radius: 10px;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              -ms-border-radius: 10px;
              -o-border-radius: 10px;
              font-family: $sf-font;
              font-weight: 400;
              font-size: 16px;
              line-height: 19.09px;
              text-align: left;
            }
          }

          .task-box-2 {
            flex-basis: 100%;

            .check-task-btn {
              width: 100%;
              padding: 8px 16px;
              background: #292a2a;
              color: $white;
              border-radius: 10px;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              -ms-border-radius: 10px;
              -o-border-radius: 10px;
              font-family: $sf-font;
              font-weight: 400;
              font-size: 16px;
              line-height: 19.09px;
              text-align: left;
              display: flex;
              align-items: center;
            }
          }
        }

        .single-task-input {
          .form-control {
            @include common-task-input;
            margin-bottom: 15px;
          }
        }

        .add-task-btn-wrapper {
          .add-task-btn {
            @include commn-google-login-btn;
            border: none;
            background: #000;
            margin-top: 0px;
          }
        }
      }

      h5.quote-name {
        color: $white;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 0;
      }
    }
  }

  .dashboard-modal {
    .modal-content {
      background-color: $d-gray;
      .modal-body {
        padding: 55px;
        font-family: $sf-font;

        .modal-body-content-header {
          position: relative;
          .modal-body-title {
            font-size: 16px;
            font-weight: 700;
            color: $white;
            margin-bottom: 15px;
          }
          .modal-body-subtitle {
            font-size: 14px;
            font-weight: 400;
            color: $ash;
            margin-bottom: 15px;
          }
          .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            background: none;
            font-size: 24px;
            color: $ash;
            transition: all 0.5s;
            box-shadow: none;

            &:hover {
              color: $purple-brand;
            }
          }
          .date-wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            .date {
              img {
                margin-right: 10px;
              }
              span {
                font-size: 16px;
                font-weight: 400;
                line-height: 16px;
                color: $white;
              }
            }
            .color {
              img {
                margin-right: 10px;
              }
              span {
                font-size: 16px;
                font-weight: 700;
                color: $white;
              }
            }
          }
        }

        .modal-body-card {
          background-color: $d-ash;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          padding: 24px;
          color: $white;
          margin-bottom: 16px;
          h4.title {
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            margin-bottom: 30px;
          }

          p.text {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }
          }

          p.list-title {
            padding: 0;
          }

          ul {
            padding-left: 20px;
            margin-bottom: 20px;
            li {
              font-size: 16px;
              font-weight: 400;
            }
          }
        }

        .get-done-list-wrapper {
          h4.title {
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            color: $white;
            text-transform: capitalize;
          }

          ul {
            list-style: none;
            color: $white;
            li {
              margin-bottom: 20px;
              &:first-child {
                font-size: 16px;
              }
              input {
                margin-right: 10px;
              }
              ul {
                padding-left: 15px;
                li {
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Jorney Page
.layout-wrapper {
  background-color: $l-black;
  width: 100%;
  height: 100vh;
}

.light-style {
  .app-calendar-wrapper {
    background-color: $l-black;

    .app-calendar-sidebar {
      border-right: 1px solid #7f8283;
      hr {
        border-color: #7f8283;
      }
      .btn-primary {
        background-color: $purple-brand;
        border-color: $purple-brand;
      }
      .flatpickr-calendar {
        background-color: $l-black;
      }
    }

    .app-calendar-content {
      .card {
        background-color: $l-black;

        .card-body {
          .dashboard-header-main {
            margin-bottom: 0px;

            .header-flex {
              display: flex;
              flex-wrap: wrap;
              align-items: center;

              .icon-box {
                flex-basis: 40px;
                margin-right: 20px;
              }

              .header-box {
                flex-basis: calc(100% - 60px);

                h1.dashboard-title {
                  font-family: $sf-font;
                  font-weight: 700;
                  font-size: 20px;
                  line-height: 30px;
                  color: $white;
                  text-transform: capitalize;
                  margin-bottom: 0;
                }
              }
            }
          }
          #calendar {
            .fc-toolbar {
              .fc-toolbar-chunk {
                .fc-button-group {
                  .fc-button {
                    color: $white;
                    background-color: transparent !important;
                    border-radius: 30px;

                    span {
                      color: $white;
                    }
                  }

                  .fc-button.fc-button-active {
                    background-color: $d-ash !important;
                  }
                }

                h2.fc-toolbar-title {
                  color: $white !important;
                  font-size: 14px;
                }
              }
            }

            .fc-view-harness {
              .fc-dayGridMonth-view {
                .fc-scrollgrid {
                  border: 1px solid $d-ash;

                  thead {
                    tr.fc-scrollgrid-section-header {
                      th {
                        .fc-scroller-harness {
                          .fc-scroller {
                            table.fc-col-header {
                              thead {
                                tr {
                                  th {
                                    border: 1px solid $d-ash;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              table {
                thead {
                }

                tbody {
                }
              }
            }
          }
        }
      }
    }
  }

  .fc {
    .fc-day-today {
      background-color: $d-ash !important;
    }
    table.fc-scrollgrid {
      td {
        border-color: $d-ash;
      }
    }
    .fc-list {
      .fc-list-table {
        th {
          border: 0;
          background: $d-gray;
        }
      }
    }
  }
}

.offcanvas {
  background: #222424;
  .offcanvas-title {
    color: $white;
  }
  .form-group {
    margin-bottom: 20px;
  }

  .form-label {
    @include common-form-label;
  }

  .form-control {
    @include common-form-control;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .select2-container--default {
    .select2-selection {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border: 1px solid #333636;
      background-color: #1a1b1c;
      color: #ffffff;
      font-family: 'SF Pro Display';
    }
  }
  .flatpickr-input[readonly] {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #333636;
    background-color: #1a1b1c;
    color: #ffffff;
    font-family: 'SF Pro Display';
  }
  .btn-primary {
    background-color: $purple-brand;
    border-color: $purple-brand;
  }
}

.fixed-nav-main {
  margin: 50px 0;
  position: fixed;
  bottom: 0;
  background-color: $l-black;
  width: 100%;
  margin-bottom: 10px;
  @include trans-x-center;
  width: 100%;
  z-index: 99;
  .fixed-nav {
    ul.nav {
      li.nav-item {
        margin-right: 14px;
        a.nav-link {
          color: #fff;
          font-size: 14px;
          font-weight: 500;
          font-family: $sf-font;
          text-transform: capitalize;
          line-height: 24px;
          min-height: 100px;
        }
        a.nav-link.active {
          border-bottom: 2px solid $purple-brand;
          border-radius: 10px;
        }
      }
    }
    .calender-box {
      min-width: 40px;
      min-height: 40px;
      background: $purple-brand;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      color: #fff;
      margin-bottom: 10px;
      text-align: center;
      .month-name {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        font-family: $sf-font;
        text-transform: capitalize;
      }
      .date {
        font-weight: 700;
        font-size: 15px;
        border-top: 1px solid #222424;
      }
    }
    .icon-box {
      min-height: 50px;
      margin-bottom: 10px;
      img {
        max-height: 50px;
      }
    }
  }
}

.storyboard-main {
  background-color: $l-black;
  width: 100%;
  min-height: 100vh;
  padding: 28px;
  margin-bottom: 100px;
  .dashboard-header-main {
    margin-bottom: 28px;

    .header-flex {
      display: flex;
      flex-wrap: wrap;

      .icon-box {
        flex-basis: 40px;
        margin-right: 20px;
      }

      .header-box {
        flex-basis: calc(100% - 60px);

        h1.dashboard-title {
          font-family: $sf-font;
          font-weight: 700;
          font-size: 36px;
          line-height: 38px;
          color: $white;
          text-transform: capitalize;
        }

        p.dates {
          font-family: $sf-font;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: $ash;
          text-transform: capitalize;
          margin-bottom: 0;
        }
      }
    }
  }

  .story-input-main {
    background: #222424;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;

    .build-title {
      padding: 12px 24px;
      background: $purple-brand;
      color: #fff;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      display: inline-block;
      font-size: 24px;
      font-weight: 700;
      line-height: 28.64px;
      font-family: $sf-font;
      margin-bottom: 20px;
    }
    .form-group {
      textarea {
        background: #222424;
        border: none;
        color: #fff;
        min-height: 100px;
        margin-bottom: 10px;
        &:focus {
          @include common-focus-action;
        }
      }
      ::placeholder {
        color: $ash;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        font-family: $sf-font;
      }
      p {
        color: $ash;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        font-family: $sf-font;
      }
    }
    .complete-btn {
      border: 1px dashed #0071e3;
      color: #fff;
      padding: 12px 24px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      font-size: 16px;
      line-height: 19.09px;
      font-weight: 700;
      font-family: $sf-font;
    }
  }
}
